body {
    width: 980px;
    height: 551px;
    margin: 0;
    padding: 0;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
}
#textOutputLower {
    position: absolute;
    left: 0;
    top: 0;
    width: 980px;
    height: 75px;
    z-index: 20;
    font-size: 70px;
    opacity: 0.5;
}
#textOutputUpper {
    position: absolute;
    left: 0;
    top: 0;
    width: 980px;
    height: 75px;
    z-index: 25;
    font-size: 70px;
}
#myCanvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    border-color: #0000FF;
    border-style: solid;
}
#voronoiCanvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
}
#highlightCanvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 13;
}
#QWERTYcanvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
}
img {
    width: 980px;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
}
#control {
    position: absolute;
    top: 650px;
}
input {
    width: 100px;
}
#sentence {
    width: 790px;
}
#cursor {
    background-color: yellow;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 551px;
    left: 980px;
}